*{
    box-sizing: border-box;
}
body{
    background-color: #F4F4F4;
}
#web{
    width: 1440px;
    height: 4038px;
    margin: 0 auto;
    background-color: white;
}

/*Menu Superior*/
header{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-left: 88px;
    margin-right: 69px;
}

.logo{
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 32px;
}

.logo > img{
    width: 26px;
    height: 26px;
}

.logo > p{
    width: 52px;
    height: 24px;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 21.33px;
    line-height: 24px;
    text-align:center;
    color: #285E67;
}

.menu > nav > ul{
    width: 347px;
    height: 24px;

    display: flex;
    align-items: center;
    gap: 40px;

    margin-top: 32px;
} 

.menu > nav > ul > li{
    list-style: none;
}

.menu > nav > ul > li > a{
    text-decoration: none;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #2B2B2B;
}

#contenido{
    width: 1300px;
    height: 3524px;
    margin: 0 auto;
}

#enunciado{
    margin-top: 142px;
}

#enunciado > h1{
    width: 1300px;
    height: 82px;

    font-family: "Poppins", serif;
    
    font-weight: 600;
    font-size: 65.34px;
    line-height: 82px;
    text-align: center;
}

#enunciado > p{
    width: 1300px;
    height: 24px;

    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}



#enunciado > a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}  
#enunciado button{
    width: 251px;
    height: 56px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 67px;
    background-color: #285E67;
    color: #FFFFFF;

    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 21.33px;
    line-height: 24px;
    margin-top: 33px;
    cursor: pointer;
    
}

#imagens_join{
    width: 1300px;
    margin-top: 56px;

    display: flex;
    gap: 48px;
}

#imagens_join img{
    width: 626px;
    height: 391px;
    border-radius: 16px;
}


#Mujer_yoga{
    width: 1300px;
    height: 446px;
    background-color:#F4F4F4;
    border-radius: 12px;

    display: flex;
    margin-top: 104px;
}

#texto_yoga{
    width: 589px;
    height:342.54px;
    margin-top: 51.73px;
    margin-left: 112px;
}

#texto_yoga > h1{
    width: 589px;
    height: 94px;

    font-family: "Poppins", serif;
    font-weight:600; 
    font-size: 50.52px;
    line-height: 62px;
    color: #2B2B2B;
}

#contenido_yoga{
    width: 589px;
    height: 187.54px;

    display: flex;
    justify-content: space-between;
}

#contenido_yoga > div > div{
    width: 58px;
    height: 57px;
    border-radius: 9px;
    background-color:#285E67 ;

    display: flex;
    justify-content: center;
    align-items: center;
}
#contenido_yoga > div > div > img{
    width: 26px;
    height: 29px;
}
#contenido_yoga p{
    width: 260px;
    height: 110.54px;

    margin-top: 20px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size:16px ;
    line-height: 24px;
    color: #2B2B2B;
}
#img_mujer{
    width: 651px;
    display: flex;
    justify-content: center;
    align-items: end;
}

#img_mujer > img{
    width: 291px;
    height: 294px;
}


#seccion_planta{
    width: 1300px;
    height: 578px;
    display: flex;
    justify-content: space-between;
    margin-top: 104px;
}

#img_planta_grande{
    width: 623.5px;
    height: 578px;
    border-radius: 16px;
}

#contenido_planta_grande{
    width: 623.5px;
    height: 474px;
    margin-top: 52px;
    margin-left: 53px;
}

#titulo_planta_grande{
    width: 623.5px;
}

#titulo_planta_grande h1{
    width: 623.5px;

    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 50.52px;
    line-height: 62px;
    color: #2B2B2B;
}

#titulo_planta_grande p{
    width: 623.5px;

    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2B2B2B;
}

.apartado_planta{
    width: 623.5px;
    height: 52px;

    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.apartado_planta > div{
    width: 52px;
    height: 52px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #285E67;
    border-radius: 100%;
}

.apartado_planta p{
    width: 548.5px;
    height: 52px;

    font-family: "Poppins", serif;
    font-weight:400 ;
    font-size: 16px;
    line-height: 24px;
    color: #2B2B2B;

    margin-top: 0;
}

#seccion_piña{
    width: 1300px;
    height: 541px;
    background-color: #F4F4F4;
    gap: 87px;
    display: flex;
    margin-top: 104px;
}

#img_piña{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 114px;
}

#img_piña img{
    width: 350px;
    height: 347.5px;
}

#contenido_piña{
    width: 543px;
    height: 362.54px;

    margin-top: 56px;
}

#contenido_piña h1{
    width: 543px;
    height: 99px;

    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 50.52px;
    line-height: 30px;
    color: #2B2B2B;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info_piña{
    width: 543px;
    height: 187.54px;

    margin-top: 41px;

    display: flex;
    justify-content: space-between;
}
#info_piña > div > div{
    width: 58px;
    height: 57px;

    background-color:#EBBFAE;
    border-radius: 9px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#info_piña > div > div > img{
    width: 26px;
    height: 29px;
}

#info_piña > div > p{
    width: 237px;
    height: 110.54px;

    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #2A2A2A;
    margin-top: 20px;
}

#seccion_jungla{
    width: 1302px;
    height: 667px;
    margin-top: 104px;
    border-radius: 12px;
    background-image: url(img/Jungla.png);
    position: relative;
    z-index: 0;
}

#seccion_jungla > div{
    position: absolute;
    width: 650px;
    height: 340px;

    margin-top: 99px;
    margin-left: 326px;
}
#seccion_jungla > div > div{
    width: 92.12px;
    height: 82.06px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #FFFFFF;
    border-radius: 9px;

    margin-left: 278.94px;
}
#seccion_jungla > div > div > img{
    width: 44px;
    height: 47.89px;
}

#seccion_jungla > div >h1{
    width: 650px;
    height: 44px;

    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 37.9px;
    line-height: 36px;

    text-align: center;
    color: #FFFFFF;
    margin-top: 45px;
}

#seccion_jungla > div > p{
    width: 650px;
    height:50px ;

    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;

    margin-top: 12px;
}
#seccion_jungla > div > a{
    text-decoration: none;
}
#seccion_jungla > div > a > button{
    width: 257px;
    height: 56px;
    border: 1px solid #FFFFFF;
    border-radius: 67px;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 21.33px;
    line-height: 24px;

    color: #FFFFFF;

    margin-top: 28px;
    margin-left: 196.5px;

    cursor: pointer;
}

#tipo_planta{
    position: relative;
    width: 1165px;
    height:356px;

    border-radius: 12px;
    background-color:#FCE2D7;

    margin-top: -178px;
    z-index: 2;

    margin-left: 68.5px;
    margin-right: 68.5px;
}

#tipo_planta > div{
    position: absolute;
    width: 1033px;
    height: 118px;

    margin-left: 66px;
    margin-top: 119px;

    display: flex;
    gap: 17px;
}

#tipo_planta > div > div{
    width: 245.5px;
    height: 118px;
}

#tipo_planta > div > div > div{
    width: 82px;
    height: 82px;

    border: 1px solid #000000;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 81.75px;
}

#tipo_planta > div > div > div > img{
    width: 58px;
    height: 58px;
}

#tipo_planta > div > div > p{
    width: 245px;
    height: 25px;

    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 21.33px;
    line-height: 24px;
    text-align: center;
    color: #2B2B2B;
    margin-top: 11px;
    
}

footer{
    margin-top: 118px;
    width: 1441px;
    height:245px ;
    background-color: #285E67;
}
#logo_footer > p,#menu_footer > nav > ul > li > a{
    color: #FFFFFF;
}
#logo_footer{
    margin-top: 78px;
}
#menu_footer{
    margin-top: 80px;
}
#parte_principal{
    display: flex;
    gap:729px;
    align-items: center;
    margin-left: 139px;
}


#redes{
    width: 166px;
    height: 27px;

    margin-top: 36px;
    margin-left: 139px;

    display: flex;
    gap: 24px;
}
#redes > div{
    cursor: pointer;
}
